.page-header {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 79px;
	@media (min-width: $tablet) {
		padding-top: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 25px;
			background: url(../image/index-page/header-zigzag.svg) repeat-x;
			bottom: -17px;
			z-index: 2;
		}
	}
	@media (min-width: $desktop) {
		&::after {
			bottom: 56px;
		}
	}
}

.page-header__logo {
  display: flex;
	align-items: center;
	position: absolute;
	top: 20px;
	&:hover {
		opacity: .6;
	}
	&:active {
		opacity: .3;
	}
	@media (min-width: $tablet) {
		left: 50px;
	}
	@media (min-width: $desktop) {
		left: 50%;
		margin-left: -82px;
		top: 9px;
	}
	&-image {
		@media (min-width: $tablet) {
			width: 113px;
			height: auto;
		}
		@media (min-width: $desktop) {
			width: 149px;
			height: auto;
		}
	}
}

.mobile-nav {
	width: 100%;
	max-height: 1000px;
  display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
	transition: max-height 1s linear 0s, z-index 0s ease 1s;
	@media (min-width: $tablet) {
		display: none;
	}
}

.mobile-nav__show {
	max-height: 0;
	z-index: -10;
  transition: max-height 1s ease 0s;
}

.mobile-nav__btn {
	width: 20px;
	height: 15px;
	position: absolute;
	top: 32px;
	right: 31px;
	background-color: transparent;
	border: none;
	outline: none;
	@media (min-width: $tablet) {
		display: none;
	}
}

.mobile-nav__btn-desc {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	top: 6px;
	background-color: #000;
	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		background-color: #000;
	}
	&::before {
		top: 5px;
		transition: top .3s;

	}
	&::after {
		bottom: 5px;
		transition: bottom .3s;
	}
}

.mobile-nav__btn.btn-close .mobile-nav__btn-desc {
	background-color: transparent;
	&::before {
		transform: rotate(45deg);
		top: 0;
		transition: transform .3s;
	}
	&::after {
		transform: rotate(-45deg);
		bottom: 0;
		transition: transform .3s;
	}
}

.mobile-list {
	width: 100%;
  display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
  padding: 0;
}

.mobile-list__item {
	width: 100%;
	height: 79px;
	display: flex;
	align-items: center;
	justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
	line-height: 24px;
	border-top: 1px solid #ececec;
	&:last-child {
		border-bottom: 1px solid #ececec;
	}
}

.mobile-list__img--search,
.mobile-list__img--cart {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 18px;
		height: 18px;
		left: -20%;
		top: 15%;
		opacity: .2;
	}
}

.mobile-list__img--search::before {
  background: url(../image/index-page/header/search.svg);
}

.mobile-list__img--cart::before {
  background: url(../image/index-page/header/cart.svg);
}

.mobile-list__item--hidden {
  display: none;
}

.main-nav__wrapper {
	@media (min-width: $tablet) {
		width: 100%;
		padding: 0 50px;
		margin-bottom: 89px;
		position: relative;
		top: 0;
		box-sizing: border-box;
	}
	@media (min-width: $desktop) {
    max-width: 1050px;
    padding: 0;
	}
}

.main-nav {
	display: none;
	@media (min-width: $tablet) {
    display: flex;
		justify-content: space-between;
		position: relative;
		.item__hidden {
			display: none;
		}
	}
}

.main-nav__delivery {
	@media (min-width: $tablet) {
		position: absolute;
		right: 0;
		top: 100px;
		z-index: 5;
	}
}

.main-list__services,
.main-list__user {
	@media (min-width: $tablet) {
		display: flex;
		padding: 0;
		position: absolute;
		z-index: 3;
	}
}

.main-list__user {
	@media (min-width: $tablet) {
		align-items: center;
		margin-top: 0;
		right: 0;
	}
}

.main-list__item {
	@media (min-width: $tablet) {
		font-weight: bold;
		&:hover {
			opacity: .6;
		}
		&:active {
			opacity: .3;
		}
	}
}

.main-list__services {
	@media (min-width: $tablet) {
		margin-top: 100px;
		.main-list__item {
			width: 167px;
		}
	}
	@media (min-width: $desktop) {
    width: 450px;
    display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
		.item__hidden {
			display: block;
		}
		.main-list__item {
			width: 220px;
			margin-bottom: 50px;
		}
	}
}

.main-list__img--search {
	@media (min-width: $tablet) {
    width: 83px;
    height: 88px;
    background: url(../image/index-page/header/search.svg) no-repeat;
    background-size: 18px 18px;
    background-position: center;
		opacity: .2;
		&:hover {
			opacity: .1;
		}
		&:active {
			opacity: .3;
		}
	}
}

.item-search {
	@media (min-width: $tablet) {
		width: 83px;
    margin-right: 85px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
	}
}

.main-list__img--cart {
	@media (min-width: $tablet) {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 18px;
			height: 18px;
			left: -50px;
			opacity: .2;
			background: url(../image/index-page/header/cart.svg)
		}
		&:hover::before {
			opacity: 1;
		}
		&:active {
			opacity: .3;
		}
	}
}

















.header-title__wrapper {
  width: 100%;
  min-height: 490px;
  background: url(../image/index-page/header/hero-mobile.jpg) no-repeat;
  background-position: top center;
	background-color: #fafafa;
	z-index: 2;
	img {
		width: 100%;
		height: auto;
	}
	@media (min-width: $tablet) {
    height: 768px;
    border-top: 1px solid #ebebeb;
    background: url(../image/index-page/header/hero-desktop.jpg) no-repeat;
    background-color: #fafafa;
    background-position: top center;
    background-size: 1150px 746px;
	}
	@media (min-width: $desktop) {
    margin-bottom: 71px;
	}
}

.page-header__title {
  font-size: 27px;
  font-weight: bold;
  margin: 75px 0 130px 0;
	text-align: center;
	@media (min-width: $tablet) {
    font-size: 47px;
		margin: 155px 0 0;
		br:first-child {
			display: none;
		}
	}
}

.header-link__wrapper {
  min-height: 206px;
  display: flex;
	flex-direction: column;
	justify-content: flex-end;
	@media (min-width: $tablet) {
    min-height: 130px;
    position: relative;
		flex-direction: row;
		justify-content: space-between;
    margin: 365px 50px 0;
	}
	@media (min-width: $desktop) {
    width: 1050px;
    margin: 365px auto 100px;
	}
}

.header-link--left,
.header-link--right {
  width: auto;
  height: 135px;
  display: flex;
	align-items: center;
  padding: 0 30px;
  position: relative;
}

.header-link--left {
	background-color: #63d1bb;
	&::after {
		content: "";
		width: 45px;
		height: 77px;
		position: absolute;
		right: 30px;
		background: url(../image/index-page/header/interior.svg) no-repeat;
		opacity: .3;
	}
}

.header-link--right {
	background-color: #56c3b2;
	&::after {
		content: "";
		width: 60px;
		height: 82px;
		position: absolute;
		top: 25%;
		right: 30px;
		background: url(../image/index-page/header/toy.svg) no-repeat;
		opacity: .3;
	}
}

.page-header__link:active .header-link__title,
.page-header__link:active::after {
  opacity: .2;
}

.page-header__link {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
	line-height: 30px;
	@media (min-width: $tablet) {
    width: 50%;
	}
}

.header-link__title {
	@media(min-width: $tablet) {
		width: 50%;
	}
}

.header-link--left:hover,
.header-link--right:hover {
	@media (min-width: $desktop) {
		position: relative;
		bottom: 5px;
	}
}
