.order-header {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 79px;
}

.order-header__logo {
  display: flex;
	align-items: center;
	position: absolute;
	top: 20px;
	&:hover {
		opacity: .6;
	}
	&:active {
		opacity: .3;
	}
}

.order-header__title__wrapper {
  min-height: 177px;
  width: 100%;
  display: flex;
  justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	&::after {
		content: "";
		width: 100%;
		height: 500px;
		position: absolute;
		bottom: -500px;
		background-color: #fff;
		z-index: -1;
	}
}

.order-page-header__title {
  font-size: 27px;
}

@media (min-width: 768px) {
  .order-header {
		padding-top: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 25px;
			background: url(../image/index-page/header/zigzag.svg) repeat-x;
			bottom: -5px;
			left: 0;
		}
	}
  .order-header__logo {
    padding-left: 50px;
    left: 0;
  }
  .page-header__logo-image {
    width: 113px;
    height: auto;
	}
	.order-page-header__title {
    font-size: 43px;
  }
  .order-header__title__wrapper {
		min-height: 226px;
  }
}

@media (min-width: 1250px) {
  .order-header__logo {
    left: 50%;
    margin-left: -125px;
    top: 9px;
  }
  .order-header__logo-image {
    width: 149px;
    height: auto;
  }
  .order-header::after {
    bottom: 0;
  }
}