.order-header {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 79px;
	@media (min-width: $tablet) {
		padding-top: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 25px;
			background: url(../image/index-page/header/zigzag.svg) repeat-x;
			bottom: -5px;
			left: 0;
		}
	}
	@media (min-width: $desktop) {
		&::after {
			bottom: 0;
		}
	}
}

.order-header__logo {
  display: flex;
	align-items: center;
	position: absolute;
	top: 20px;
	&:hover {
		opacity: .6;
	}
	&:active {
		opacity: .3;
	}
	@media (min-width: $tablet) {
    padding-left: 50px;
    left: 0;
	}
	@media (min-width: $desktop) {
    left: 50%;
    margin-left: -125px;
    top: 9px;
	}
	&-image {
		@media (min-width: $tablet) {
			width: 113px;
			height: auto;
		}
		@media (min-width: $desktop) {
			width: 149px;
			height: auto;
		}
	}
}

.order-header__title__wrapper {
  min-height: 177px;
  width: 100%;
  display: flex;
  justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	&::after {
		content: "";
		width: 100%;
		height: 500px;
		position: absolute;
		bottom: -500px;
		background-color: #fff;
		z-index: -1;
	}
	@media (min-width: $tablet) {
		min-height: 226px;
	}
}

.order-page-header__title {
	font-size: 27px;
	@media (min-width: $desktop) {
		font-size: 53px;
	}
}