.order {
	padding: 0 30px;
	overflow: hidden;
	@media (min-width: $tablet) {
		padding: 0 50px;
		position: relative;
	}
}

.order-form__description {
	margin: 28px 0;
	font-size: 13px;
	line-height: 24px;
	z-index: 10;
	@media (min-width: $tablet) {
		margin: 78px 0 60px;
		font-size: 17px;
		line-height: 30px;
	}
	@media (min-width: $desktop) {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}

.order__item__wrapper {
	@media (min-width: $tablet) {
		padding: 56px 0 12px;
		box-sizing: border-box;
		background-color: #f1f1f1;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: -100%;
			background-color: #f1f1f1;
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 100%;
			z-index: -1;
			background-color: #f1f1f1;
		}
	}
}

.order__list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@media (min-width: $desktop) {
		max-width: 1050px;
		margin: 0 auto;
		padding: 0 60px;
		position: relative;
	}
}

.order__items {
	display: flex;
	flex-direction: column;
	border: none;
	position: relative;
	@media (min-width: $tablet) {
		padding-left: 167px;
		position: relative;
	}
}

.order__item-title {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: $main-gray;
	&::after {
		content: "";
		width: 100px;
		height: 1px;
		margin-left: 20px;
		margin-top: 2px;
		flex-grow: 1;
		flex-shrink: 0;
		background-color: $main-gray;
	}
	@media (min-width: $tablet) {
		position: absolute;
		left: 0;
		&::after {
			display: none;
		}
	}
}

.items--third {
	.order__item-title {
		@media (min-width: $tablet) {
			top: 73px;
		}
	}
}

.items--second {
	@media (min-width: $tablet) {
		width: 85%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		box-sizing: border-box;
	}
}

.item--second {
	@media (min-width: $tablet) {
		width: 263px;
	}
	@media (min-width: $desktop) {
		width: 200px;
	}
}

.order__item-label {
	height: 60px;
}

.order__item-toggle {
	appearance: none;
	position: absolute;
}

.order__toggle {
	position: absolute;
	width: 45px;
	height: 45px;
	margin-top: -10px;
	background: url(../image/order-page/radio-unchecked.svg) no-repeat;
	background-size: 45px 45px;
	cursor: pointer;
}

.order__item-toggle:checked + .order__toggle {
	background: url(../image/order-page/radio-checked.svg) no-repeat;
	background-size: 45px 45px;
}

.order__item-checkbox {
	appearance: none;
	position: absolute;
}

.order__checkbox {
	position: absolute;
	width: 45px;
	height: 45px;
	margin-top: -10px;
	background: url(../image/order-page/checkbox-unchecked.svg) no-repeat;
	background-size: 40px 40px;
	cursor: pointer;
}

.order__item-checkbox:checked + .order__checkbox {
	background: url(../image/order-page/checkbox-checked.svg) no-repeat;
	background-size: 40px 40px;
}

.order__toggle:hover,
.order__checkbox:hover {
	opacity: 0.6;
}

.order__item-name {
	margin-left: 70px;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}

.item-name {
	margin-left: 0;
	@media (min-width: $tablet) {
		display: block;
		margin-right: 28px;
		font-size: 19px;
	}
}

.order__item-cell {
	display: flex;
	flex-direction: column;
	@media (min-width: $tablet) {
		flex-direction: row;
		align-items: center;
		margin-bottom: 24px;
	}
}

.order__item-input {
	height: 50px;
	margin-bottom: 25px;
	border: none;
	border-bottom: 2px solid #000;
	outline: none;
	&::placeholder {
		opacity: 0.3;
	}
	&:hover {
		border-color: $main-gray;
	}
	&:focus {
		border-color: $main-gray;
	}
	@media (min-width: $tablet) {
		width: 100%;
		padding-left: 23px;
		box-sizing: border-box;
		font-size: 19px;
		margin-bottom: 0;
		&::placeholder {
			font-size: 19px;
		}
	}
}

.order__contact__wrapper {
	@media (min-width: $tablet) {
		min-height: 228px;
		margin-bottom: 50px;
		padding: 60px 0 30px;
		box-sizing: border-box;
		position: relative;
		background-color: #f1f1f1;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			z-index: -1;
			background-color: #f1f1f1;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 100%;
			z-index: -1;
			background-color: #f1f1f1;
		}
	}
}

.order__item-contact {
	font-size: 17px;
	font-weight: bold;
	color: #63d1bb;
	text-transform: uppercase;
	@media (min-width: $tablet) {
		position: absolute;
		left: -167px;
		&::after {
			display: none;
		}
	}
}

.order__textarea {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	&::after {
		content: "";
		width: 50px;
		height: 1px;
		background-color: $main-gray;
		margin-left: 20px;
		margin-top: 2px;
		flex-grow: 1;
		flex-shrink: 0;
	}
	@media (min-width: $tablet) {
		margin-top: -100px;
		left: 0;
	}
}

.order__item-textarea {
	padding: 15px 0 0 12px;
	font-size: 17px;
	line-height: 18px;
	border: 2px solid #000;
	box-sizing: border-box;
	outline: 0;
	&::placeholder {
		opacity: 0.3;
	}
	&:hover {
		border-color: $main-gray;
	}
	&:focus {
		border-color: $main-gray;
	}
	@media (min-width: $tablet) {
		width: 100%;
		margin-bottom: 55px;
		font-size: 19px;
		line-height: 18px;
	}
}

.obligatory-field {
	display: block;
	margin: 18px 0 33px;
	@media (min-width: $tablet) {
		position: absolute;
		bottom: 40px;
		right: 60px;
	}
}

.order__button {
	margin-bottom: 55px;
	background-color: transparent;
	@media (min-width: $tablet) {
		width: 230px;
	}
	@media (min-width: $desktop) {
		margin-left: 165px;
	}
}

.input__phone {
	@media (min-width: $tablet) {
		position: relative;
		padding-left: 23px;
		box-sizing: border-box;
		background-color: transparent;
		&::after {
			content: "";
			position: absolute;
			width: 32px;
			height: 25px;
			background-color: #000;
		}
	}
}

.input__mail {
	@extend .input__phone;
}

.order__full-name {
	@media (min-width: $tablet) {
		margin: 60px 0 26px;
	}
}
