@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_sans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_sans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}