.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0 0;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .catalog__list {
    margin-top: 80px;
    padding: 0 50px;
  }
}

@media (min-width: 1250px) {
  .catalog__list {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.catalog__item {
  width: 100%;
  position: relative;
  margin-bottom: 57px;
  border: 1px solid #eeeeee;
  -webkit-transition: after 2s linear;
  transition: after 2s linear;
}

.catalog__item img {
  width: 100%;
  height: auto;
}

.catalog__item:hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.catalog__item:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 65%;
  bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.catalog__description__wrapper {
  margin: 0 30px;
}

@media (min-width: 768px) {
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .catalog__item img {
    width: 334px;
  }
  .catalog__description__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1250px) {
  .catalog__item {
    width: 315px;
    min-height: 680px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__item img {
    width: 315px;
  }
  .catalog__description__wrapper {
    width: auto;
  }
}

.catalog__item-title {
  font-size: 17px;
  line-height: 24px;
  margin: 30px 0 15px;
}

.catalog__item-specifications {
  display: block;
  width: 100%;
  font-size: 13px;
  padding-bottom: 26px;
}

.catalog__item-price__wrapper {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border-top: 1px solid #eeeeee;
}

.catalog__item-price {
  width: 100%;
  display: block;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.catalog__item-price::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background: url(../image/catalog-page/catalog/cart.svg) no-repeat;
  right: 0;
  top: -5px;
  opacity: .3;
}

@media (min-width: 1250px) {
  .catalog__item-price__wrapper {
    border: none;
  }
  .catalog__item-price {
    width: 256px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #eeeeee;
    padding: 25px 0 29px;
  }
  .catalog__item-price::after {
    top: 22px;
  }
}

.catalog__item-title:hover {
  opacity: .6;
}

.catalog__item-title:active {
  opacity: .3;
}

.catalog__item-price:hover::after {
  opacity: .8;
}

.catalog__item-price:active::after {
  opacity: .2;
}

@media (min-width: 768px) {
  .catalog__item-price__wrapper {
    margin-top: auto;
  }
}

@media (min-width: 1250px) {
  .catalog__item-title {
    font-size: 20px;
  }
  .catalog__item-specifications {
    font-size: 15px;
  }
  .catalog__item-price {
    font-size: 17px;
  }
}

.manufacturing-process {
  margin-bottom: 58px;
  padding: 0 30px;
}

.manufacturing-process img {
  width: 100%;
  height: auto;
}

.manufacturing-process__wrapper {
  border: 1px solid #eeeeee;
}

.manufacturing-process__title {
  margin: 25px 0 25px 90px;
  margin-left: 90px;
  font-size: 17px;
  line-height: 24px;
  position: relative;
}

.manufacturing-process__title::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 32px;
  background: url(../image/catalog-page/catalog/video.svg) no-repeat;
  left: -56px;
  top: 10%;
  opacity: .3;
}

.manufacturing__description__wrapper {
  padding: 0 30px;
}

.manufacturing__description {
  margin: 35px 0 30px;
  font-size: 13px;
  line-height: 24px;
}

.manufaсturing-process__order {
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .manufacturing-process {
    padding: 0 50px;
  }
  .manufacturing-process__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .manufacturing-process__title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 35px 0 35px 90px;
  }
  .manufacturing-process__title::before {
    top: -5px;
  }
  .manufacturing-process__title br {
    display: none;
  }
  .manufacturing__pircture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .manufacturing__description__wrapper {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .manufacturing__description {
    margin: 0 0 35px;
  }
}

@media (min-width: 1250px) {
  .manufacturing-process__wrapper {
    max-width: 1150px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .manufacturing-process__wrapper img {
    width: 682px;
  }
  .manufacturing-process__title {
    position: absolute;
    right: 190px;
    top: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .manufacturing-process__title br {
    display: block;
  }
  .manufacturing__description__wrapper {
    padding: 100px 60px 0 80px;
  }
  .manufacturing__description {
    font-size: 15px;
    line-height: 30px;
  }
}