.catalog__list {
  display: flex;
	flex-direction: column;
	align-items: flex-start;
  margin: 30px 0 0;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .catalog__list {
    margin-top: 80px;
    padding: 0 50px;
  }
}

@media (min-width: 1250px) {
  .catalog__list {
		width: 1150px;
    margin-left: auto;
		margin-right: auto;
		padding: 0 50px;
		flex-flow: row wrap;
		justify-content: flex-start;
		box-sizing: border-box;
  }
}

.catalog__item {
  width: 100%;
  position: relative;
  margin-bottom: 57px;
  border: 1px solid #eeeeee;
	z-index: 1;
	img {
		width: 100%;
		height: auto;
	}
	&:hover::after {
		content: "";
		width: 100%;
		height: 50%;
		position: absolute;
		bottom: 0;
		background-color: #fff;
		box-shadow: 0 15px 40px rgba(0, 0, 0, .1);
		z-index: -1;
	}
	&:active::after {
		content: "";
		width: 100%;
		height: 65%;
		position: absolute;
		bottom: 0;
		background-color: #fff;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
		z-index: -1;
	}
}

.catalog__description__wrapper {
  margin: 0 30px;
}

@media (min-width: 768px) {
  .catalog__item {
		display: flex;
		img {
			width: 334px;
		}
  }
  .catalog__description__wrapper {
    width: 100%;
    display: flex;
		flex-direction: column;
  }
}

@media (min-width: 1250px) {
  .catalog__item {
    width: 313px;
    min-height: 680px;
		flex-direction: column;
		img {
			width: 315px;
		}
		&:nth-child(3n+2) {
			margin: 0 51px;
		}
  }
  .catalog__description__wrapper {
    width: auto;
  }
}

.catalog__item-title {
  font-size: 17px;
  line-height: 24px;
  margin: 30px 0 15px;
}

.catalog__item-specifications {
  display: block;
  width: 100%;
  font-size: 13px;
  padding-bottom: 26px;
}

.catalog__item-price__wrapper {
  height: 72px;
  display: flex;
	align-items: center;
  margin: 0;
  border-top: 1px solid #eeeeee;
}

.catalog__item-price {
  width: 100%;
  display: block;
  font-weight: bold;
  position: relative;
	cursor: pointer;
	&::after {
		content: "";
		width: 23px;
		height: 23px;
		position: absolute;
		top: -5px;
		right: 0;
		background: url(../image/catalog-page/catalog/cart.svg) no-repeat;
		opacity: .3;
	}
	&:hover::after {
		opacity: .8;
	}
	&:active::after {
		opacity: .2;
	}
}

@media (min-width: 1250px) {
  .catalog__item-price__wrapper {
    border: none;
  }
  .catalog__item-price {
    width: 256px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #eeeeee;
		padding: 25px 0 29px;
		&::after {
			top: 22px;
		}
  }
}

.catalog__item-title {
	&:hover {
  	opacity: .6;
	}
	&:active {
		opacity: .3;
	}
}

@media (min-width: 768px) {
  .catalog__item-price__wrapper {
    margin-top: auto;
  }
}

@media (min-width: 1250px) {
  .catalog__item-title {
    font-size: 20px;
  }
  .catalog__item-specifications {
    font-size: 15px;
  }
  .catalog__item-price {
    font-size: 17px;
  }
}

.manufacturing-process {
  margin-bottom: 58px;
	padding: 0 30px;
	img {
		width: 100%;
		height: auto;
	}
}

.manufacturing-process__wrapper {
  border: 1px solid #eeeeee;
}

.manufacturing-process__title {
  margin: 25px 0 25px 90px;
  margin-left: 90px;
  font-size: 17px;
  line-height: 24px;
	position: relative;
	&::before {
		content: "";
		width: 42px;
		height: 32px;
		position: absolute;
		top: 10%;
		left: -56px;
		background: url(../image/catalog-page/catalog/video.svg) no-repeat;
		opacity: .3;
	}
}

.manufacturing__description__wrapper {
  padding: 0 30px;
}

.manufacturing__description {
  margin: 35px 0 30px;
  font-size: 13px;
  line-height: 24px;
}

.manufaсturing-process__order {
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .manufacturing-process {
		margin: 0 auto 58px;
		padding: 0 50px;
  }
  .manufacturing-process__wrapper {
    display: flex;
		flex-direction: column;
  }
  .manufacturing-process__title {
		order: 2;
		margin: 35px 0 35px 90px;
		&::before {
			top: -5px;
		}
		br {
			display: none;
		}
  }
  .manufacturing__pircture {
		order: 1;
  }
  .manufacturing__description__wrapper {
	  order: 3;
  }
  .manufacturing__description {
    margin: 0 0 35px;
  }
}

@media (min-width: 1250px) {
	.manufacturing-process {
		max-width: 1050px;
	}
  .manufacturing-process__wrapper {
    max-width: 1150px;
    margin: 0 auto;
		flex-direction: row;
		position: relative;
		img {
			width: 682px;
		}
  }
  .manufacturing-process__title {
    position: absolute;
		right: 147px;
		top: 0;
		margin-top: 100px;
    font-size: 20px;
		line-height: 24px;
		br {
			display: block;
		}
			&::before {
		top: -60px;
		left: 0;
		}
  }
  .manufacturing__description__wrapper {
    padding: 185px 60px 0 80px;
  }
  .manufacturing__description {
    font-size: 15px;
    line-height: 30px;
  }
}