.catalog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.catalog-header__logo {
  display: flex;
	align-items: center;
  position: absolute;
  top: 22px;
}

.catalog-header-title__wrapper {
  min-height: 177px;
  width: 100%;
  display: flex;
  justify-content: center;
	align-items: center;
  background-color: #f1f1f1;
}

.catalog-page-header__title {
  font-size: 27px;
}

@media (min-width: 768px) {
  .catalog-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    background: url(../image/index-page/header/zigzag.svg) repeat-x;
    bottom: -5px;
    left: 0;
  }
  .catalog-header__logo {
    padding-left: 50px;
    left: 0;
  }
  .catalog-header__logo-image {
    width: 113px;
    height: auto;
  }
  .catalog-page-header__title {
    font-size: 43px;
  }
  .catalog-header-title__wrapper {
    min-height: 226px;
  }
}

@media (min-width: 1250px) {
  .catalog-header__logo {
    left: 50%;
    margin-left: -125px;
    top: 9px;
  }
  .catalog-header__logo-image {
    width: 149px;
    height: auto;
  }
  .catalog-header::after {
    bottom: 0;
  }
}